<%- include('partials/header') -%>


<h1>Contact us</h1>
<div class="postItem">
    <h6> <%=contactObj.email%></h6>
    <h6> <%=contactObj.phoneNo%></h6>
    <h6> <%=contactObj.facebook%></h6>
    <h6> <%=contactObj.twitter%></h6>

</div>
<%- include('partials/footer') -%>